@import '../General/GlobalStylings.scss';

.loginPage{
    margin-top:60px;
    max-height: 100vh;
    img{
        display: block;
            width:80%;
            margin-top: 65px;
            margin-left:50px;
            margin-right:auto;
    }
    .loginForm{
        font-family: $body-text;
        font-size: 20px;

        position: absolute;
        top:120px;
        right:210px;
        background-color:rgba($dark-grey-color,0.85);
        width:400px;
        height:300px;
        color: $white-color;
        display: flex;
        flex-direction: column;

        h1{
            font-family: $header-text;
            font-size: 30px;
            margin-left: 60px;
        }

        .formInput{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            width:80%;
        }

        label{ 
            display: block;
            margin-left: 30px;
            margin-bottom: 5px;
            font-weight: 700;
        }

        .field{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:90%; 
        }
        .submitButton{
            @include buttonStyling;
            display: block;
            margin-left: auto;
            margin-right: auto;

            margin-top:20px;

            padding-top:8px;
            padding-bottom:8px;

            font-size: 20px;
            
            width:100%;
            border-radius: 10px;
            border:none;
            width:120px;

        }
    }
}