.adminPage{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px; 
    tr{
           
        
    td{
        // bord
    }
}

}
