@import '../General/GlobalStylings.scss';

.adminPage{
    margin-top:80px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    
    .applicationRow{
        &:hover{
            background-color: rgba($table-grey-color,1);
        }
    }

    tr{
        background-color: rgba($table-grey-color,0.8);
        height:50px;
    }

    th{
        background-color: $white-color;
        color:$dark-grey-color;
        font-family: $header-text;
        font-size: 25px;
        text-align: center;
    }

    td{
        color:$white-color;
        font-family: $body-text;
        font-size: 20px;
        border-top: 2px solid $white-color;
        border-bottom: 2px solid $white-color;
        border-collapse: collapse;
        padding-left: 10px;
    }
    .id{
        padding-left: 0px;
        text-align: center;
        width:50px;
    }
    .idRow{
            font-size: 25px;
            font-weight: 600;
        }
    .name{
        width:200px;
    }
    .email{
        width:250px;
    }
    .contactInfo{
        width:170px;
    }
    .experience{
        width:170px;
    }
    .cv{
        padding-left: 0px;
        text-align: center;
        width:140px;
    }

    .cvButton{
        background-color: $dark-grey-color;
        text-align: center;
        padding: 0;
        button{
            text-align: center;
            color:$white-color;
            font-family: $body-text;
            font-size: 20px;
            border: none;
            background-color: transparent;
        }
        &:hover{
            background-color: rgba($dark-grey-color,0.7);
        }
    }
    .applicantButton{
        background-color: $white-color;
        padding-left: 0;
    }
}