@import '../General/GlobalStylings.scss';

.adminPage{
    background-color: white;

    .buttons{
        width: 30%;
        margin-left: auto;
        margin-right: auto;

        td{
            text-align: center;
            border:none;
            width:250px;
            color:$dark-grey-color;
        } 
    }
    .text{
        width: 20%;
    }
    .complete{
        width: 50%;
    }

    button{
        padding-top:8px;
        padding-bottom:8px;
        font-size: 20px;
        width:100%;
        border-radius: 10px;
        border:2px solid $orange-color;
        background-color: $table-grey-color;
        color: $white-color;
        width:120px;
        &:hover{
            color: $orange-color;
            background-color: $white-color;
        }
    }

    .rejectButton{
        width:120px;
        &:hover{
            color: red;
            border: 2px solid red;
        }
        
    }
    .acceptButton{
        &:hover{
            color: green;
            border: 2px solid green;
        }
    }
    .testText{
        // width:108px;
    }
}