@import '../General/GlobalStylings.scss';

.adminPage{
    background-color: white;

    .buttons{
        width: 30%;
        margin-left: auto;
        margin-right: auto;

        td{
            text-align: center;
            border:none;
            width:250px;
            color:$dark-grey-color;
        } 
    }

    .text{
        width: 20%;
    }

    .complete{
        width: 50%;
    }

    button{
        @include buttonStyling;
        padding-top:8px;
        padding-bottom:8px;
        font-size: 20px;
        width:100%;
        border-radius: 10px;
        border:none;
        width:120px;
    }

    .rejectButton{
        width:120px;
        &:hover{
            color: red;
        }
    }

    .acceptButton{
        &:hover{
            color: green;
        }
    }
}