
$orange-color: #fd9516;
$dark-grey-color:#262626;
$grey-color:#bfbfbf;
$table-grey-color:#858585;
$light-grey-color:#dfdfdf;
$white-color:white;

$header-text:'Rubik', sans-serif;
$body-text:'Montserrat', sans-serif;

@mixin p {
    font-family: $body-text;
    font-size: 17px;
}

@mixin buttonStyling{
    background-color: rgba($orange-color,0.9); 
    text-align: center;
    color:$light-grey-color;

    &:hover{
        background-color: rgba($orange-color,1); 
        color:$white-color;
    }
}